.gui {
  --width: auto;
  --background-color: #1a1a1a;
  --color: #eee;
  --font-family: system-ui;
  --font-size: 11px;
  --line-height: 11px;
  --name-width: 90px;
  --row-height: 24px;
  --widget-height: 20px;
  --padding: 6px;
  --widget-color: #3c3c3c;
  --number-color: #00adff;
  --string-color: #1ed36f;
  --widget-border-radius: 3px;
}

/* Global */

.gui {
  
  width: var(--width);
  
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  
  font-weight: normal;
  font-style: normal;

  background-color: var(--background-color);
  color: var(--color);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: left;

}

.gui, .gui * { 
  box-sizing: border-box;
  margin: 0;
}

.gui.autoPlace {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1001;
  max-height: var(--window-height);
}

.gui.root { 
  overflow-y: scroll;
}

.gui input { 
  border: 0;
  outline: none;
  font-size: var(--font-size);
  border-radius: var(--widget-border-radius);
}

.gui select { 
  outline: none;
}

.gui input[type=text],
.gui input[type=number] {
  height: var(--widget-height);
  font-family: var(--font-family);
  line-height: var(--widget-height);
  background: var(--widget-color);
  color: var(--color);
  padding: 0 2px; /* pull this out */
  width: 100%;
}

.gui input[type=color] {
  background: var(--widget-color);
  height: var(--widget-height);
  width: 100%;
  padding: 0;
}

.gui input[type=text] { 
  color: var(--string-color);
}

.gui input[type=number] {
  color: var(--number-color);
}

.gui input[type=number]::-webkit-inner-spin-button, 
.gui input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

/* Folders */

.gui .title { 
  height: var(--row-height);
  padding: 0 var(--padding);
  line-height: var(--row-height);
  font-weight: bold;
  border-bottom: 1px solid rgb(63, 63, 63);
}

.gui .children {
  padding: var(--padding) 0;
}

.gui:not(.root) { 
  margin-left: var(--padding);
}

.gui.closed .children { 
  display: none;
}

/* Controllers */

.gui .controller { 
  padding: 0 var(--padding);
  height: var(--row-height);
  display: flex;
  align-items: center;
}

.gui .controller.disabled { 
  opacity: 0.5;
  pointer-events: none;
}

.gui .controller .name {
  width: var(--name-width);
  padding-right: var(--padding);
  flex-shrink: 0;
}

.gui .controller .widget { 
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Boolean and function get hover effects */

.gui .controller.boolean,
.gui .controller.function { 
  cursor: pointer;
}

@media (hover: hover) {
  .gui .controller.boolean:hover,
  .gui .controller.function:hover { 
    background: #000;
  }
}

/* Number Controller */

.gui .controller.number .slider { 
  width: 100%;
  height: var(--widget-height);
  margin-right: calc( var(--padding) - 2px );
  background-color: var(--widget-color);
  border-radius: var(--widget-border-radius);
  /* border: 1px solid #333; */
  overflow: hidden;
}

.gui .controller.number .fill {
  height: 100%;
  background-color: var(--number-color);  
  /* background-color: #666; */
}

.gui .controller.number.hasSlider input[type=number] {
  width: 30%;
}

/* 
.gui .controller.number.hasSlider .name { 
  position: absolute;
  pointer-events: none;
  width: 80%;
  padding-left: var(--padding);
} 

.gui .controller.number.hasSlider input[type=number] {
  width: 18%;
}*/


@media (max-width: 700px) { 
  
  .gui { 
    --name-width: 80px;
    --row-height: 34px;
    --widget-height: 28px;
    --padding: 8px;
  }

  .gui.autoPlace {
    right: auto;
    left: 0;
    width: 100%;
    max-height: calc(var(--window-height) * .4 );
  }

  /* prevents zoom on mobile safari */
  .gui input, 
  .gui select { 
    font-size: 16px !important;
  }

}