@mixin vars($args) {
	@each $name, $val in $args {
		#{$name}: $val;
	}
	& & {
		@each $name, $val in $args {
			#{$name}: inherit;
		}
	}
}

.lil-gui {
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: 1;

	font-weight: normal;
	font-style: normal;
	text-align: left;

	background-color: var(--background-color);
	color: var(--text-color);

	user-select: none;
	-webkit-user-select: none;

	&,
	& * {
		box-sizing: border-box;
		margin: 0;
	}

	&.root {
		width: var(--width, 250px);
		display: flex;
		flex-direction: column;
		> .title {
			background: var(--title-background-color);
		}
		> .children {
			overflow: auto;
			&::-webkit-scrollbar {
				width: var(--scrollbar-width);
				height: var(--scrollbar-width);
				background: var(--background-color);
			}
			&::-webkit-scrollbar-thumb {
				border-radius: var(--scrollbar-width);
				background: var(--highlight-color);
			}
		}
	}

	// "Theme" properties
	// -------------------------------------------------------------------------

	@include vars(
		(
			--background-color: #1f1f1f,
			--text-color: #ebebeb,
			--title-background-color: #111111,
			--widget-color: #424242,
			--highlight-color: #595959,
			--number-color: #2cc9ff,
			--string-color: #a2db3c,
			--font-size: 11px,
			--font-family: (
				-apple-system,
				BlinkMacSystemFont,
				'Lucida Grande',
				'Segoe UI',
				Roboto,
				Arial,
				sans-serif,
				'Apple Color Emoji',
				'Segoe UI Emoji',
				'Segoe UI Symbol'
			),
			--font-family-mono: (
				Menlo,
				Monaco,
				Consolas,
				'Droid Sans Mono',
				monospace,
				'Droid Sans Fallback'
			),
			--padding: 4px,
			--spacing: 4px,
			--widget-height: 20px,
			--name-width: 45%,
			--slider-input-width: 27%,
			--color-input-width: 27%,
			--slider-input-min-width: 45px,
			--color-input-min-width: 45px,
			--folder-indent: 7px,
			--widget-padding: 0 0 0 3px,
			--widget-border-radius: 2px,
			--checkbox-size: calc(0.75 * var(--widget-height))
		)
	);

	--title-height: calc(var(--widget-height) + var(--spacing));
	--scrollbar-width: 5px;

	// autoPlace & mobile
	// -------------------------------------------------------------------------

	&.mobile {
		--widget-height: 32px;
		--padding: 8px;
		--spacing: 8px;
		--font-size: 16px; // < 16px causes zoom on iOS
		--folder-indent: 12px;
		--widget-padding: 0 0 0 5px;
		--scrollbar-width: 7px;
		--slider-input-min-width: 65px;
		--color-input-min-width: 65px;
		width: 100%;
	}

	&.autoPlace {
		max-height: 100%;
		position: fixed;
		top: 0;
		right: 15px;
		z-index: 1001;

		&.mobile {
			max-height: var(--mobile-height, 170px);
			top: auto;
			right: auto;
			bottom: 0;
			left: 0;
		}
	}
}
