.lil-gui {
	.controller {
		display: flex;
		align-items: center;
		padding: 0 var(--padding);
		margin: var(--spacing) 0;

		input {
			font-size: var(--input-font-size);
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		.name {
			min-width: var(--name-width);
			flex-shrink: 0;
			white-space: pre;
			padding-right: var(--spacing);
		}

		.widget {
			position: relative; // many w/ pos absolute inside
			display: flex;
			align-items: center;
			width: 100%;
			min-height: var(--widget-height);
		}
	}

	.controller.number {
		input {
			color: var(--number-color);
		}
		&.hasSlider input {
			margin-left: var(--spacing);
			width: var(--slider-input-width);
			min-width: var(--slider-input-min-width);
			flex-shrink: 0;
		}
		.slider {
			width: 100%;
			height: var(--widget-height);
			background-color: var(--widget-color);
			border-radius: var(--widget-border-radius);

			// subtracts width of knob from available width
			padding-right: var(--slider-knob-width);
			overflow: hidden;

			// prevents scroll when dragging horizontally on mobile
			touch-action: pan-y;

			cursor: ew-resize;

			&:hover {
				background-color: var(--hover-color);
			}
			&.active {
				background-color: var(--focus-color);
				.fill {
					opacity: 0.95;
				}
			}
		}
		.fill {
			height: 100%;
			border-right: var(--slider-knob-width) solid var(--number-color);
			// don't count border width towards width
			box-sizing: content-box;
		}
	}

	.controller.string input {
		color: var(--string-color);
	}

	.controller.color {
		.display {
			width: 100%;
			height: var(--widget-height);
			border-radius: var(--widget-border-radius);
		}
		input[type='color'] {
			opacity: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		input[type='text'] {
			margin-left: var(--spacing);
			font-family: var(--font-family-mono);
			min-width: var(--color-input-min-width);
			width: var(--color-input-width);
			flex-shrink: 0;
		}
	}

	.controller.boolean {
		input {
			// .widget passes click events to expand the hitbox
			pointer-events: none;
		}
		.widget { 
			cursor: pointer;
		}
		.widget:hover input {
			// usually taken care of in inputs.scss, but widget needs to pass hover
			background: var(--focus-color);
		}
	}

	.controller.option {
		select {
			opacity: 0;
			position: absolute;
			width: 100%;
			max-width: 100%;
		}
		.display {
			position: relative;
			pointer-events: none;
			border-radius: var(--widget-border-radius);
			height: var(--widget-height);
			line-height: var(--widget-height);
			max-width: 100%;
			overflow: hidden;
			word-break: break-all;
			padding-left: 0.55em;
			padding-right: 1.75em;

			background: var(--widget-color);

			&.focus,
			&.active {
				background: var(--focus-color);
			}

			&:after {
				font-family: 'lil-gui';
				content: '↕';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				padding-right: 0.375em;
			}
		}
		.widget:hover .display {
			background: var(--hover-color);
		}
	}
}
