.lil-gui {
	.title {
		height: var(--title-height);
		font-weight: 600;
		padding: 0 var(--padding);
		line-height: calc(var(--title-height) - 2px);
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
		&:before {
			font-family: 'lil-gui';
			content: '▾';
		}
	}

	&.closed {
		.children {
			display: none;
		}
		.title:before {
			content: '▸';
		}
	}

	// Empty children
	// -------------------------------------------------------------------------

	.children:empty:before {
		content: 'Empty';
		padding: 0 var(--padding);
		margin: var(--spacing) 0;
		display: block;
		height: var(--widget-height);
		font-style: italic;
		line-height: var(--widget-height);
		opacity: 0.5;
	}

	// Root folders
	// -------------------------------------------------------------------------

	& &:not(.closed) > .title {
		border-bottom: 1px solid var(--widget-color);
	}

	&:not(.closed) + .controller {
		border-top: 1px solid var(--widget-color);
		margin-top: 0;
		padding-top: var(--spacing);
	}

	// Nested folders
	// -------------------------------------------------------------------------

	& & .controller {
		border: none;
	}

	& & & {
		> .title {
			border: none;
		}
		> .children {
			border: none;
			margin-left: var(--folder-indent);
			border-left: 2px solid var(--widget-color);
		}
	}
}
