@import 'hover';

.lil-gui {
	input {
		-webkit-tap-highlight-color: transparent;
		border: 0;
		outline: none;
		font-family: var(--font-family);
		font-size: var(--input-font-size);

		border-radius: var(--widget-border-radius);
		height: var(--widget-height);
		background: var(--widget-color);
		color: var(--text-color);
		width: 100%;
		@include can-hover {
			&:hover {
				background: var(--hover-color);
			}
			&:active {
				background: var(--focus-color);
			}
		}
		&:disabled {
			opacity: 1; // override default iOS style, we already dim .controller
		}
	}

	input[type='text'],
	input[type='number'] {
		padding: var(--widget-padding);
		&:focus {
			background: var(--focus-color);
		}
	}

	// Hide number spinners

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	input[type='checkbox'] {
		appearance: none;
		-webkit-appearance: none;
		height: var(--checkbox-size);
		width: var(--checkbox-size);
		border-radius: var(--widget-border-radius);
		text-align: center;
		cursor: pointer;
		&:checked:before {
			font-family: 'lil-gui';
			content: '✓';
			font-size: var(--checkbox-size);
			line-height: var(--checkbox-size);
		}

		@include can-hover {
			&:focus {
				box-shadow: inset 0 0 0 1px var(--focus-color);
			}
		}
	}

	button {
		-webkit-tap-highlight-color: transparent;
		outline: none;
		cursor: pointer;

		font-family: var(--font-family);
		font-size: var(--font-size);
		color: var(--text-color);

		width: 100%;
		height: var(--widget-height);

		text-transform: none;

		background: var(--widget-color);
		border-radius: var(--widget-border-radius);

		border: 1px solid var(--widget-color);

		text-align: center;

		line-height: calc(var(--widget-height) - 4px);

		@include can-hover {
			&:hover {
				background: var(--hover-color);
				border-color: var(--hover-color);
			}
			&:focus {
				border-color: var(--focus-color);
			}
		}

		&:active {
			background: var(--focus-color);
		}
	}
}
