@import 'icons';

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin vars($args) {
	@each $name, $val in $args {
		#{$name}: $val;
	}
	& & {
		@each $name, $val in $args {
			#{$name}: inherit;
		}
	}
}

.lil-gui {
	// Base styles
	// -------------------------------------------------------------------------

	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: 1;

	font-weight: normal;
	font-style: normal;
	text-align: left;

	background-color: var(--background-color);
	color: var(--text-color);

	user-select: none;
	-webkit-user-select: none;

	&,
	& * {
		box-sizing: border-box;
		margin: 0;
	}

	&.root {
		width: var(--width);
		> .title {
			background: var(--title-background-color);
		}
	}

	> .children {
		padding: calc(0.5 * var(--widget-gap)) 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			width: var(--scrollbar-width);
			height: var(--scrollbar-width);
			background: var(--background-color);
		}
		&::-webkit-scrollbar-corner {
			height: 0;
			display: none;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: var(--scrollbar-width);
			background: var(--highlight-color);
		}
	}

	--width: 250px;
	--scrollbar-width: 5px;
	--mobile-max-height: 200px;
	--widget-gap: calc(var(--row-height) - var(--widget-height));

	// "Theme" properties
	// -------------------------------------------------------------------------

	@include vars(
		(
			--background-color: #1f1f1f,
			--text-color: #ebebeb,
			--title-background-color: #111111,
			--widget-color: #424242,
			--highlight-color: #525151,
			--number-color: #00adff,
			--string-color: #1ed36f,
			--font-size: 11px,
			--font-family: (
				-apple-system,
				BlinkMacSystemFont,
				'Segoe UI',
				'Roboto',
				Arial,
				sans-serif,
				'Apple Color Emoji',
				'Segoe UI Emoji',
				'Segoe UI Symbol'
			),
			--font-family-mono: (
				Menlo,
				Monaco,
				Consolas,
				'Droid Sans Mono',
				monospace,
				'Droid Sans Fallback'
			),
			--row-height: 24px,
			--widget-height: 20px,
			--padding: 4px,
			--name-width: 42%,
			--slider-input-width: 27%,
			--color-input-width: 27%,
			--slider-input-min-width: 45px,
			--color-input-min-width: 45px,
			--folder-indent: 7px,
			--widget-padding: 0 0 0 3px,
			--widget-border-radius: 2px,
			--checkbox-size: calc(0.75 * var(--widget-height))
		)
	);

	// autoPlace & mobile
	// -------------------------------------------------------------------------

	&.autoPlace {
		position: fixed;
		top: 0;
		right: 15px;
		z-index: 1001;

		& > .children {
			max-height: calc(var(--window-height) - var(--row-height));
		}

		&.mobile {
			--row-height: 40px;
			--widget-height: 32px;
			--padding: 8px;
			--font-size: 16px;
			--folder-indent: 12px;
			--widget-padding: 0 0 0 5px;
			--scrollbar-width: 7px;

			right: auto;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;

			& > .children {
				max-height: calc(var(--mobile-max-height) - var(--row-height));
			}
		}
	}

	// Titles & Folders
	// -------------------------------------------------------------------------

	.title {
		height: var(--row-height);
		font-weight: 600;
		padding: 0 var(--padding);
		&:before {
			font-family: 'lil-gui';
		}
	}

	&.collapses > .title {
		&:before {
			content: '▾';
		}
	}

	&.collapses.closed {
		.children {
			display: none;
		}
		.title:before {
			content: '▸';
		}
	}

	& &.collapses > .children {
		margin-left: var(--folder-indent);
		border-left: 2px solid var(--widget-color);
	}

	&:not(.collapses) {
		> .children:empty {
			height: calc(var(--widget-gap) * 0.5);
			padding: 0;
		}
		> .title {
			line-height: var(--row-height);
		}
	}

	&.root:not(.closed),
	&:not(.collapses) {
		> .title {
			border-bottom: 1px solid var(--widget-color);
		}
	}

	&.collapses > .children:empty:before {
		content: 'Empty';
		padding: 0 var(--padding);
		display: block;
		height: var(--row-height);
		font-style: italic;
		line-height: var(--row-height);
		opacity: 0.5;
	}

	// Shared "widget" styles
	// -------------------------------------------------------------------------

	input {
		border: 0;
		outline: none;
		font-family: var(--font-family);
		font-size: var(--font-size);
		border-radius: var(--widget-border-radius);
		height: var(--widget-height);
		background: var(--widget-color);
		color: var(--text-color);
		width: 100%;
		&[type='text'] {
			padding: var(--widget-padding);
		}
		&:focus,
		&:active {
			background: var(--highlight-color);
		}
	}

	input[type='checkbox'] {
		appearance: none;
		-webkit-appearance: none;
		height: var(--checkbox-size);
		width: var(--checkbox-size);
		border-radius: var(--widget-border-radius);
		text-align: center;
		&:checked:before {
			font-family: 'lil-gui';
			content: '✓';
			font-size: var(--checkbox-size);
			line-height: var(--checkbox-size);
		}
	}

	button {
		-webkit-tap-highlight-color: transparent;
		outline: none;
		cursor: pointer;
		border: 0;
		font-family: var(--font-family);
		font-size: var(--font-size);
		color: var(--text-color);
		text-align: left;
		width: 100%;
		// some websites play fast and loose with the button selector :)
		text-transform: none;
		&.title {
			background: var(--background-color);
			// button titles are vertically misaligned without it. wtf.
			padding: 1px var(--padding) 2px;
		}
	}

	.display {
		background: var(--widget-color);
		&.focus,
		&.active {
			background: var(--highlight-color);
		}
	}

	// Controllers
	// -------------------------------------------------------------------------

	.controller {
		display: flex;
		align-items: center;
		padding: 0 var(--padding);
		height: var(--row-height);

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		.name {
			display: flex;
			align-items: center;
			min-width: var(--name-width);
			flex-shrink: 0;
			// white-space: pre;
			padding-right: var(--padding);
			height: 100%;
			overflow: hidden;
		}

		.widget {
			position: relative; // many w/ pos absolute inside
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}

	.controller.number {
		input {
			color: var(--number-color);
		}
		&.hasSlider input {
			margin-left: var(--widget-gap);
			width: var(--slider-input-width);
			min-width: var(--slider-input-min-width);
			flex-shrink: 0;
		}
		.slider {
			width: 100%;
			height: var(--widget-height);
			background-color: var(--widget-color);
			border-radius: var(--widget-border-radius);
			overflow: hidden;
			&.active {
				background-color: var(--highlight-color);
				.fill {
					opacity: 0.95;
				}
			}
		}
		.fill {
			height: 100%;
			background-color: var(--number-color);
		}
	}

	.controller.string {
		input {
			color: var(--string-color);
		}
	}

	.controller.color {
		.display {
			width: 100%;
			height: var(--widget-height);
			border-radius: var(--widget-border-radius);
		}
		input[type='color'] {
			opacity: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		input[type='text'] {
			margin-left: var(--widget-gap);
			font-family: var(--font-family-mono);
			min-width: var(--color-input-min-width);
			width: var(--color-input-width);
			flex-shrink: 0;
		}
	}

	.controller.option {
		select {
			opacity: 0;
			position: absolute;
			width: 100%;
			max-width: 100%;
		}
		.display {
			pointer-events: none;
			border-radius: var(--widget-border-radius);
			height: var(--widget-height);
			line-height: var(--widget-height);
			position: relative;
			max-width: 100%;
			overflow: hidden;
			word-break: break-all;
			padding-left: 0.55em;
			padding-right: 1.75em;
			&:after {
				font-family: 'lil-gui';
				content: '↕';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				padding-right: 0.375em;
			}
		}
	}

	.controller.function {
		background: none;
		@include hover {
			.name {
				background: var(--highlight-color);
			}
		}
		&:active .name {
			background: var(--text-color);
			color: var(--background-color);
		}
		.name {
			display: block;
			padding: 0;
			margin: 0;
			text-align: center;
			width: 100%;
			background: var(--widget-color);
			border-radius: var(--widget-border-radius);
			height: var(--widget-height);
			line-height: var(--widget-height);
		}
		.widget {
			display: none;
		}
	}
}
