@charset 'utf-8';
@import 'iconfont';

@mixin mobile {
	@media (max-width: 600px) {
		@content;
	}
}

.gui {
	--width: auto;

	--bg-color: #1a1a1a;
	--fg-color: #eee;

	--widget-fg-color: #eee;
	--widget-bg-color: #3c3c3c;
	--widget-fg-color-focus: #fff;
	--widget-bg-color-focus: #4d4d4d;

	--number-color: #00adff;
	--string-color: #1ed36f;

	--title-bg-color: #111;
	--header-rule-color: rgba(255, 255, 255, 0.1);
	--folder-rule-color: #444;

	--font-family: system-ui, sans-serif;
	--font-size: 11px;
	--line-height: 1;

	--name-width: 35%;
	--row-height: 24px;
	--widget-height: 20px;

	--padding: 0.55em;
	--widget-padding: 0 0 0 0.25em;
	--widget-border-radius: 2px;
	--scrollbar-width: 0.375em;

	width: var(--width);
	text-align: left;

	font-size: var(--font-size);
	line-height: var(--line-height);
	font-family: var(--font-family);
	font-weight: normal;
	font-style: normal;

	background-color: var(--bg-color);
	color: var(--fg-color);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	user-select: none;
	-webkit-user-select: none;

	&,
	& * {
		box-sizing: border-box;
		margin: 0;
	}

	&.autoPlace {
		position: fixed;
		top: 0;
		right: 15px;
		z-index: 1001;

		& > .children {
			max-height: calc(var(--window-height) - var(--row-height));
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&::-webkit-scrollbar {
				width: var(--scrollbar-width);
				background: var(--bg-color);
			}

			&::-webkit-scrollbar-corner {
				height: 0;
				display: none;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: var(--scrollbar-width);
				background: var(--widget-bg-color);
			}
		}
	}

	@include mobile {
		--row-height: 38px;
		--widget-height: 32px;
		--font-size: 16px;

		&.autoPlace {
			right: auto;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;
			& > .children {
				max-height: 200px;
			}
		}
	}

	// global "widget" styles

	input {
		border: 0;
		outline: none;
		font-family: var(--font-family);
		font-size: var(--font-size);
		border-radius: var(--widget-border-radius);
		height: var(--widget-height);
		background: var(--widget-bg-color);
		color: var(--widget-fg-color);
		width: 100%;

		&[type='text'] {
			padding: var(--widget-padding);
		}
	}

	input[type='checkbox'] {
		appearance: none;
		-webkit-appearance: none;
		--size: calc(.75*var(--widget-height));
		height: var(--size);
		width: var(--size);
		border-radius: var(--widget-border-radius);
		text-align: center;

		&:checked:before {
			font-family: 'gui-icons';
			content: '✓';
			font-size: var(--size);
			line-height: var(--size);
		}
	}

	button {
		outline: none;
		cursor: pointer;
		border: 0;
		font-size: var(--font-size);
		color: var(--widget-fg-color);
		background: var(--widget-bg-color);
		border-radius: var(--widget-border-radius);
		height: var(--widget-height);
		padding: 0 var(--padding);
	}

	input,
	button {
		&:focus,
		&:active {
			background: var(--widget-bg-color-focus);
			color: var(--widget-fg-color-focus);
		}
	}
	.display {
		background: var(--widget-bg-color);
		&.focus,
		&.active {
			background: var(--widget-bg-color-focus);
			color: var(--widget-fg-color-focus);
		}
	}

	// titles and folders

	.title {
		height: var(--row-height);
		padding: 0 var(--padding);
		line-height: var(--row-height);
		font-weight: bold;
		cursor: pointer;

		&:before {
			font-family: 'gui-icons';
			content: '▾';
			width: 1em;
			vertical-align: middle;
		}
	}

	&.closed {
		.children {
			display: none;
		}
		.title:before {
			content: '▸';
		}
	}

	&.root > {
		.title {
			background: var(--title-bg-color);
		}
		.children {
			padding: calc(.5*var(--padding)) 0;
		}
	}

	&:not(.root) > .children {
		margin-left: 0.75em;
		border-left: 2px solid var(--folder-rule-color);
	}

	.header {
		height: var(--row-height);
		padding: 0 var(--padding);
		font-weight: bold;
		border-bottom: 1px solid var(--header-rule-color);
		margin-bottom: calc(.5*var(--padding));
		display: flex;
		align-items: center;
	}

	// controllers

	.controller {
		display: flex;
		align-items: center;
		padding: 0 var(--padding);
		height: var(--row-height);

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		.name {
			display: flex;
			align-items: center;
			width: var(--name-width);
			height: 100%;
			flex-shrink: 0;
			overflow: hidden;
		}

		.widget {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}

	.controller.number {
		input:not(:focus) {
			color: var(--number-color);
		}
		&.hasSlider input {
			width: 33%;
			// firefox wants to make this bigger otherwise?
			min-width: 0;
		}
		.slider {
			position: relative;
			width: 100%;
			height: var(--widget-height);
			margin-right: calc(var(--padding) - 2px);
			background-color: var(--widget-bg-color);
			border-radius: var(--widget-border-radius);
			overflow: hidden;
		}
		.fill {
			height: 100%;
			background-color: var(--number-color);
			// border-right: 2px solid var(--fg-color);
		}
	}

	.controller.string {
		input:not(:focus) {
			color: var(--string-color);
		}
	}

	.controller.color {
		.widget {
			position: relative;
		}
		input {
			opacity: 0;
			height: var(--widget-height);
			width: 100%;
			position: absolute;
		}
		.display {
			height: var(--widget-height);
			width: 100%;
			border-radius: var(--widget-border-radius);
			pointer-events: none;
		}
	}

	.controller.option {
		.widget {
			position: relative;
		}
		select {
			opacity: 0;
			position: absolute;
			width: 100%;
		}
		.display {
			pointer-events: none;
			border-radius: var(--widget-border-radius);
			height: var(--widget-height);
			line-height: var(--widget-height);
			padding: 0 var(--padding);
			&:after {
				font-family: 'gui-icons';
				content: '↕';
				vertical-align: middle;
				margin-left: var(--padding);
			}
		}
	}

}

/* 
.gui .controller.number.hasSlider { 
	position: relative;
}

.gui .controller.number.hasSlider .name { 
	position: absolute;
	pointer-events: none;
	width: auto;
} 
.gui .controller.number.hasSlider input {
	width: 18%;
} */

.gui.solarized {
	$base03: #002b36;
	$base02: #073642;
	$base01: #586e75;
	$base00: #657b83;
	$base0: #839496;
	$base1: #93a1a1;
	$base2: #eee8d5;
	$base3: #fdf6e3;
	$yellow: #b58900;
	$orange: #cb4b16;
	$red: #dc322f;
	$magenta: #d33682;
	$violet: #6c71c4;
	$blue: #268bd2;
	$cyan: #2aa198;
	$green: #859900;

	&,
	& .gui {
		--bg-color: #{$base3};
		--fg-color: #{$base00};

		--widget-fg-color: #{$base00};
		--widget-bg-color: #{$base2};
		--widget-fg-color-focus: #{$base2};
		--widget-bg-color-focus: #{$base00};

		--number-color: #{$blue};
		--string-color: #{$green};

		--title-bg-color: #{$base2};
		--header-rule-color: #{$base2};
		--folder-rule-color: #{$base2};
	}
}
