@import 'icons';

@mixin mobile {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin vars($args) {
	@each $name, $val in $args {
		#{$name}: $val;
	}
	& & {
		@each $name, $val in $args {
			#{$name}: inherit;
		}
	}
}

.lil-gui {
	// Base styles
	// -------------------------------------------------------------------------

	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);

	font-weight: normal;
	font-style: normal;
	text-align: left;

	background-color: var(--bg-color);
	color: var(--fg-color);

	user-select: none;
	-webkit-user-select: none;

	&,
	& * {
		box-sizing: border-box;
		margin: 0;
	}

	// Custom properties
	// -------------------------------------------------------------------------

	@include vars(
		(
			--width: auto,
			--bg-color: #1f1f1f,
			--fg-color: #eee,
			--font-family: (
				-apple-system,
				BlinkMacSystemFont,
				'Segoe UI',
				'Roboto',
				'Helvetica Neue',
				Arial,
				sans-serif,
				'Apple Color Emoji',
				'Segoe UI Emoji',
				'Segoe UI Symbol'
			),
			--font-size: 11px,
			--line-height: 1,
			--name-width: 40%,
			--slider-input-width: 27%,
			--row-height: 25px,
			--widget-height: 20px,
			--widget-fg-color: #eee,
			--widget-bg-color: #424242,
			--widget-fg-color-focus: #fff,
			--widget-bg-color-focus: #5a5a5a,
			--number-color: #00adff,
			--string-color: #1ed36f,
			--title-bg-color: #111,
			--header-rule-color: rgba(255, 255, 255, 0.1),
			--folder-rule-color: #444,
			--padding: 6px,
			--widget-padding: 0 0 0 3px,
			--widget-border-radius: 2px,
			--scrollbar-width: 5px,
			--mobile-max-height: 200px,
			--icons-font-family: 'lil-gui'
		)
	);

	// Folders, titles, headers
	// -------------------------------------------------------------------------

	&.root {
		width: var(--width);
		> .title {
			background: var(--title-bg-color);
		}
		> .children:not(:empty) {
			padding-top: calc(0.5 * var(--padding));
		}
	}

	.title {
		height: var(--row-height);
		padding: 0 var(--padding);
		line-height: var(--row-height);
		font-weight: 600;
		cursor: pointer;

		&:before {
			font-family: var(--icons-font-family);
			content: '▾';
			width: 1em;
			vertical-align: middle;
		}
	}

	&.closed {
		.children {
			display: none;
		}
		.title:before {
			content: '▸';
		}
	}

	&:not(.root) > .children {
		margin-left: 0.75em;
		border-left: 2px solid var(--folder-rule-color);
	}

	.header {
		height: var(--row-height);
		padding: 0 var(--padding);
		font-weight: 600;
		border-bottom: 1px solid var(--header-rule-color);
		margin-bottom: calc(0.5 * var(--padding));
		display: flex;
		align-items: center;
	}

	// autoPlace & mobile
	// -------------------------------------------------------------------------

	&.autoPlace {
		position: fixed;
		top: 0;
		right: 15px;
		z-index: 1001;

		& > .children {
			max-height: calc(var(--window-height) - var(--row-height));
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&::-webkit-scrollbar {
				width: var(--scrollbar-width);
				background: var(--bg-color);
			}

			&::-webkit-scrollbar-corner {
				height: 0;
				display: none;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: var(--scrollbar-width);
				background: var(--widget-bg-color);
			}
		}

		@include mobile {
			--row-height: 38px;
			--widget-height: 32px;
			--font-size: 16px;
			--padding: 8px;
			--widget-padding: 0 0 0 5px;
			--scrollbar-width: 7px;

			right: auto;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;

			& > .children {
				max-height: var(--mobile-max-height);
			}
		}
	}

	// Shared "widget" styles
	// -------------------------------------------------------------------------

	input {
		border: 0;
		outline: none;
		font-family: var(--font-family);
		font-size: var(--font-size);
		border-radius: var(--widget-border-radius);
		height: var(--widget-height);
		background: var(--widget-bg-color);
		color: var(--widget-fg-color);
		width: 100%;
		&[type='text'] {
			padding: var(--widget-padding);
		}
		&:focus,
		&:active {
			background: var(--widget-bg-color-focus);
			color: var(--widget-fg-color-focus);
		}
	}

	input[type='checkbox'] {
		appearance: none;
		-webkit-appearance: none;
		--size: calc(0.75 * var(--widget-height));
		height: var(--size);
		width: var(--size);
		border-radius: var(--widget-border-radius);
		text-align: center;
		&:checked:before {
			font-family: var(--icons-font-family);
			content: '✓';
			font-size: var(--size);
			line-height: var(--size);
		}
	}

	button {
		outline: none;
		cursor: pointer;
		border: 0;
		font-family: var(--font-family);
		font-size: var(--font-size);
		color: var(--widget-fg-color);
		background: var(--bg-color);
		font-weight: 600;
		text-align: left;
		text-transform: none;
		width: 100%;
		&:hover {
			background: black;
		}
		&:focus,
		&:active {
			outline: 1px dotted rgba(255, 255, 255, 0.3);
			outline-offset: -1px;
		}
		.name {
			width: 100%;
		}
	}

	.display {
		background: var(--widget-bg-color);
		&.focus,
		&.active {
			background: var(--widget-bg-color-focus);
			color: var(--widget-fg-color-focus);
		}
	}

	// Controllers
	// -------------------------------------------------------------------------

	.controller {
		display: flex;
		align-items: center;
		padding: 0 var(--padding);
		height: var(--row-height);

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		.name {
			display: flex;
			align-items: center;
			width: var(--name-width);
			height: 100%;
			flex-shrink: 0;
			overflow: hidden;
		}

		.widget {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}

	.controller.number {
		input:not(:focus) {
			color: var(--number-color);
		}
		&.hasSlider input {
			width: var(--slider-input-width);
			min-width: 0; // firefox wants to make this bigger otherwise?
		}
		.slider {
			width: calc(100% - var(--slider-input-width));
			height: var(--widget-height);
			margin-right: calc(var(--row-height) - var(--widget-height));
			background-color: var(--widget-bg-color);
			border-radius: var(--widget-border-radius);
			overflow: hidden;
		}
		.fill {
			height: 100%;
			background-color: var(--number-color);
		}
	}

	.controller.string {
		input:not(:focus) {
			color: var(--string-color);
		}
	}

	.controller.color {
		.widget {
			position: relative;
		}
		input {
			opacity: 0;
			position: absolute;
			height: var(--widget-height);
			width: 100%;
		}
		.display {
			pointer-events: none;
			height: var(--widget-height);
			width: 100%;
			border-radius: var(--widget-border-radius);
		}
	}

	.controller.option {
		.widget {
			position: relative;
		}
		select {
			opacity: 0;
			position: absolute;
			max-width: 100%;
		}
		.display {
			pointer-events: none;
			border-radius: var(--widget-border-radius);
			height: var(--widget-height);
			line-height: var(--widget-height);
			padding-left: var(--padding);
			position: relative;
			max-width: 100%;
			overflow: hidden;
			word-break: break-all;
			padding-right: 1.75em;
			&:after {
				font-family: var(--icons-font-family);
				content: '↕';
				position: absolute;
				display: flex;
				align-items: center;
				top: 0;
				right: 0;
				bottom: 0;
				padding-right: 0.375em;
			}
		}
	}
}


// .lil-gui .controller.number.hasSlider { 
// 	position: relative;
// }

// .lil-gui .controller.number.hasSlider .name { 
// 	position: absolute;
// 	pointer-events: none;
// 	width: auto;
// } 
// .lil-gui .controller.number.hasSlider input {
// 	width: 18%;
// }

// .lil-gui.solarized {
// 	$base03: #002b36;
// 	$base02: #073642;
// 	$base01: #586e75;
// 	$base00: #657b83;
// 	$base0: #839496;
// 	$base1: #93a1a1;
// 	$base2: #eee8d5;
// 	$base3: #fdf6e3;
// 	$yellow: #b58900;
// 	$orange: #cb4b16;
// 	$red: #dc322f;
// 	$magenta: #d33682;
// 	$violet: #6c71c4;
// 	$blue: #268bd2;
// 	$cyan: #2aa198;
// 	$green: #859900;

// 	&,
// 	& .lil-gui {
// 		--bg-color: #{$base3};
// 		--fg-color: #{$base00};

// 		--widget-fg-color: #{$base00};
// 		--widget-bg-color: #{$base2};
// 		--widget-fg-color-focus: #{$base2};
// 		--widget-bg-color-focus: #{$base00};

// 		--number-color: #{$blue};
// 		--string-color: #{$green};

// 		--title-bg-color: #{$base2};
// 		--header-rule-color: #{$base2};
// 		--folder-rule-color: #{$base2};
// 	}
// }
