:root {
	--body-padding: 2rem;
}

main {
	padding: 0 var(--body-padding);
}

main:first-of-type h1 {
	border: none;
}

pre {
	font-size: 13.5px;
	margin: 0;
	padding: 1rem var(--body-padding);
	border: 1px solid var(--rule);
	border-width: 1px 0;
	border-radius: 0;
}

header {
	display: flex;
	align-items: center;
	background: var(--background);
	height: 3rem;
	padding: 0 var(--body-padding);
	font-size: 0.9em;
	font-weight: 600;
	border-bottom: 1px solid var(--rule);
}

header a {
	display: flex;
	align-items: center;
	align-self: stretch;
	color: var(--foreground);
}

header .sep {
	margin: 0 0.3rem;
	opacity: 0.5;
}

header + pre {
	border-top: none;
}

section.script:not(:last-child) {
	margin-bottom: 1.5rem;
}

section.script:last-child pre {
	border-bottom: none;
}

section.script header {
	position: sticky;
	margin-top: -1rem;
	top: 0;
	font-weight: normal;
}

section.script header a {
	color: var(--inline-code);
	font-family: var(--font-family-code);
}

.lil-gui.autoPlace {
	box-shadow: 0 0 20px var(--shadow);
}

/* small desktop */

@media (max-width: 958px) {
	:root {
		--body-padding: 1rem;
	}

	/* no centering */
	main {
		margin: 0;
	}
}

/* mobile */

@media (max-width: 500px) {
	.lil-gui.autoPlace {
		top: auto;
		bottom: 0;
		right: 0;
	}
}
