body {
	display: flex;
}

section:first-of-type h1 {
	border: none;
}

/* toc */

#toc-container {
	width: var(--toc-width);
	position: relative;
	margin-right: 1rem;
}

#toc {
	position: fixed;
	overflow: auto;
	width: var(--toc-width);
	height: 100%;
	padding: 0 1rem;
	top: 0;
	background: var(--background);
	border-right: 1px solid var(--rule);
	z-index: 1002;
	font-size: 12px;
	line-height: 21px;
}

#toc h1,
#toc h2,
#toc h3 {
	border: none;
	padding-top: 0;
	margin-bottom: 1rem;
}

#toc h1 {
	font-size: 14px;
	font-weight: 600;
	/* spacing lives in h1 so it has 
     * padding when scrolled into view */
	margin-top: 0;
	padding-top: 1rem;
}

#toc h2 {
	font-size: 14px;
	font-weight: 600;
}

#toc h3 {
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
}

#toc ol,
#toc ul {
	margin-bottom: 1rem;
}

#toc ul {
	padding-left: 1rem;
}

#toc ul li {
	text-indent: -5px;
}

#toc ol {
	padding-left: 1rem;
}

#toc a {
	color: var(--foreground);
}

/* active section highlight */
#toc h2.active a,
#toc li.active,
#toc li.active a {
	color: var(--link);
}

/* toc button */

#toc-button {
	position: fixed;
	visibility: hidden;
	outline: none;
	cursor: pointer;
	appearance: none;
	z-index: 1;
	width: var(--toc-button-size);
	height: var(--toc-button-size);
	top: var(--toc-button-margin);
	right: var(--toc-button-margin);
	border-radius: var(--border-radius);
	background: var(--background);
	border: 1px solid var(--toc-button-border);
	border-bottom-width: 2px;
	font-size: 0;
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	flex-wrap: wrap;
	align-items: center;
}

#toc-button:before,
#toc-button:after {
	content: ' ';
	display: block;
}

#toc-button:before,
#toc-button:after,
#toc-button div {
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background: var(--foreground);
}

/* examples */

#section-examples {
	margin: 2rem 0 2.5rem;
}

#section-examples li:not(:last-child) {
	margin-bottom: 0.25rem;
}

/* guide */

#section-guide code span.changed {
	background-color: magenta;
	transition: none;
}

#section-guide code span {
	background-color: transparent;
	transition: background-color 0.5s linear;
}

/* guide demos */

.result {
	--header-size: 26px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 16px 16px 0;
	border-top: var(--header-size) solid var(--result-header);
	border-radius: 5px;
	background: var(--result-background);
	min-height: 150px;
	position: relative;
	box-shadow: 0 10px 30px var(--result-shadow);
}

.result::before {
	content: 'Result';
	color: var(--pre-code);
	position: absolute;
	left: 8px;
	font-size: 11px;
	font-weight: 600;
	top: calc(-1 * var(--header-size));
	height: var(--header-size);
	display: flex;
	align-items: center;
}

/* api */

main .api-index {
	columns: 2;
	column-rule: 1px solid var(--rule);
	column-gap: 60px;
	margin-bottom: 2rem;
}

main .api-index .class {
	width: 100%;
	break-inside: avoid;
}

main .api-index a {
	color: var(--foreground);
}

main .api-index ul {
	padding-left: 1.5rem;
	margin: 0;
}

/* member declarations vary weight */
.api-index h2,
#section-api h2 {
	font-weight: normal;
}

.api-index h2 {
	border: none;
	padding: 0;
}

#section-api li p {
	margin-bottom: 1rem;
}

#section-api li:last-child p {
	margin: 0;
}

/* small desktop */

@media (max-width: 958px) {

	body {
		display: initial;
	}

	main {
		margin: 0 auto;
	}

	#toc-button {
		visibility: visible;
	}

	#toc {
		border: 0;
		right: 0;
		transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
	}

	.toc-open #toc {
		box-shadow: 23px 0 10px 20px #0007;
	}

	body:not(.toc-open) #toc {
		transform: translateX(var(--toc-width));
	}
}

@media (max-width: 500px) {

	.result {
		min-height: 0;
	}

	main .api-index {
		column-rule: none;
		column-gap: 0;
		font-size: 0.95rem;
	}

	main .api-index ul {
		padding-left: 0;
		list-style: none;
	}

}

/* show/hide autoPlace demo */

.autoPlace {
	will-change: opacity;
	transition: none;
}

.loaded .autoPlace {
	transition: opacity 0.2s;
}

.scrolled .autoPlace {
	opacity: 0;
	pointer-events: none;
}

@media (max-width: 1200px) {

	.autoPlace {
		opacity: 0;
		pointer-events: none;
	}

}
