* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-family-code: Menlo, Monaco, Consolas, 'Droid Sans Mono', monospace, 'Droid Sans Fallback';
	--font-size: 15px;
	--line-height: 1.6;
	--rule: #c2b8b3;
	--background: #d3c7c0;
	--foreground: #2d2730;
	--link: #0071bf;
	--pre-code: #d1d0cc;
	--inline-code: #926501;
	--code-number: #6cb2e3;
	--code-string: #a6bf5c;
	--code-literal: #bd75cb;
	--code-special: #80d3c7;
	--code-comment: #84858a;
	--code-custom: #9f71e8;
	--pre-background: #372d39;
	--result-header: #676a76;
	--result-background: #c8c9cd;
	--shadow: rgba(0 0 0 / 10%);
	--toc-width: 210px;
	--toc-button-size: 40px;
	--toc-button-margin: 1rem;
	--toc-button-border: #0003;
	--border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--rule: #43444c;
		--background: #262831;
		--foreground: #d2d2d0;
		--pre-background: #342d39;
		--link: #53b9d0;
		--inline-code: #cbaf72;
		--result-header: #434f5b;
		--result-background: #666c75;
		--shadow: rgba(0 0 0 / 20%);
		--toc-button-border: #0007;
	}
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	font-family: var(--font-family);
	line-height: var(--line-height);
	font-size: var(--font-size);
	background-color: var(--background);
	color: var(--foreground);
	-webkit-font-smoothing: antialiased;
}

/* main */

main {
	max-width: 700px;
	padding: 0 1rem;
	box-sizing: content-box;
}

/* basic markdown */

strong {
	font-weight: 600;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	color: var(--pre-code);
	background: var(--pre-background);
	padding: 1rem;
	overflow: auto;
	font-family: var(--font-family-code);
	border-radius: var(--border-radius);
	tab-size: 4;
}

/* mobile */

@media (max-width: 500px) {
	pre {
		font-size: 13.5px;
		tab-size: 2;
	}
}

code {
	font-family: var(--font-family-code);
	font-size: 1em;
	color: var(--inline-code);
	white-space: nowrap;
	font-size: 0.95em;
}

pre code {
	white-space: pre;
	color: var(--pre-code);
	font-size: 1em;
}


hr {
	height: 1px;
	border: 0;
	background: var(--rule);
}

ul {
	padding-left: 1.5rem;
}
/* headers */

h1 {
	font-size: 2.35em;
	line-height: 1;
	font-weight: 700;

	border-top: 2px solid var(--rule);
	padding-top: 2rem;
	margin-bottom: 1.75rem;
}

h2 {
	font-size: 1.5em;
	line-height: 1.35;
	font-weight: 500;

	border-top: 1px solid var(--rule);
	padding-top: 1.25rem;
	margin-bottom: 1.25rem;
}

h3 {
	font-size: 1em;
	line-height: var(--line-height);
	font-weight: 600;

	border-top: 1px solid var(--rule);
	padding-top: 1.35rem;
	margin-bottom: 1rem;
}

h1 a,
h2 a,
h3 a {
	color: var(--foreground);
}

/* hide header border when scrolling to anchor */

a[name]:empty {
	position: absolute;
	margin-top: 3px;
}

/* vertical spacing */

p,
ul,
hr {
	margin-bottom: calc(var(--line-height) * 1rem);
}

pre,
.result {
	margin-bottom: calc(var(--line-height) * 1.25rem);
}

p + p,
p + ul,
ul + p,
pre + p,
pre + .result,
.result + p {
	margin-top: calc(var(--line-height) * -0.25rem);
}

/* code highlighting */

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
	font-weight: bold;
}

.hljs-comment,
.hljs-comment .hljs-custom {
	color: var(--code-comment) !important;
}

.hljs-title,
.hljs-section,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-built_in {
	color: var(--code-special);
}

.hljs-literal {
	color: var(--code-literal);
}

.hljs-number {
	color: var(--code-number);
}

.hljs-string {
	color: var(--code-string);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-custom {
	font-weight: bold;
	color: var(--code-custom);
}
