* {
	box-sizing: border-box;
}

html {
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
	--font-family-code: Menlo, Monaco, Consolas, 'Droid Sans Mono', monospace, 'Droid Sans Fallback';
	--font-size: 14px;
	--line-height: 1.6;
	--background: #fffbf7;
	--foreground: #252525;
	--link: #0084ff;
	--code: #463679;
	--pre-background: #a98c6314;
}

strong {
	font-weight: 600;
}

html,
body {
	font-family: var(--font-family);
	line-height: var(--line-height);
	font-size: var(--font-size);
	word-wrap: break-word;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-weight: normal;
	padding: 0 10px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	color: var(--code);
	background: var(--pre-background);
}

code {
	font-family: var(--font-family-code);
	font-size: 1em;
	line-height: 1.357em;
	color: var(--code);
	/* background: var(--pre-background);
	padding: 2px 3px; */
}

pre code {
	font-family: var(--font-family-code);
	background: none;
	color: var(--code);
	tab-size: 4;
	padding: 0;
}

#container {
	max-width: 750px;
	margin: 0 auto;
}

hr {
	height: 1px;
	border: 0;
	border-bottom: 1px solid;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
}

h1,
h2,
h3 {
	font-weight: normal;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
	line-height: auto;
}

table {
	border-collapse: collapse;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td {
	padding: 5px 10px;
}

table > tbody > tr + tr > td {
	border-top: 1px solid;
}

pre:not(.hljs),
pre.hljs code > div {
	padding: 16px;
	border-radius: 3px;
	overflow: auto;
}

table > thead > tr > th {
	text-align: left;
	border-bottom: 1px solid;
	border-color: rgba(0, 0, 0, 0.69);
}

h1,
hr,
table > tbody > tr + tr > td {
	border-color: rgba(0, 0, 0, 0.18);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
	font-weight: bold;
}

.hljs-comment {
	color: #738191;
}

.hljs-title,
.hljs-section,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-built_in {
	color: #008097;
}

.hljs-literal {
	color: #790097;
}

.hljs-number {
	color: #0093e9;
}

.hljs-string {
	color: #009439;
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet {
	color: #4c81c9;
}

.hljs-emphasis {
	font-style: italic;
}
