html { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    --color-gray: #555;
}
body {
    background: #222;
    color: #eee;
    font: 14px/20px system-ui, sans-serif;
}
pre, code { 
    font-family: Consolas, Monaco, monospace;
}
pre { 
    background: #2b2b2b;
    overflow: auto;
    padding: 0.5rem;
}
a { 
    color: rgb(11, 164, 224);
    text-decoration: none;
}

pre, p code { 
    font-size: 12px;
    line-height: 18px;
}

#api h3,
#api h2 { 
    border-top: 1px solid var(--color-gray);
    padding-top: 1rem;
}