.gui .controller {
    padding: 0 var(--padding);
    height: var(--row-height);
    display: flex;
    align-items: center;
}

.gui .controller.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.gui .controller .name {
    width: var(--name-width);
    padding-right: var(--padding);
    flex-shrink: 0;
}

.gui .controller .widget {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}