.gui {
	--width: auto;
	--background-color: #1a1a1a;
	--color: #eee;
	--font-family: Arial, sans-serif;
	--font-size: 11px;
	--line-height: 11px;
	--name-width: 35%;
	--row-height: 24px;
	--widget-height: 20px;
	--widget-padding: 0 2px;
	--widget-border-radius: 3px;
	--widget-color: #3c3c3c;
	--number-color: #00adff;
	--string-color: #1ed36f;
	--padding: 6px;
	--scrollbar-width: 5px;
	--title-color: #111;
}

.gui {
	width: var(--width);
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-family: var(--font-family);
	font-weight: normal;
	font-style: normal;
	background-color: var(--background-color);
	color: var(--color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;
}

.gui, .gui * {
	box-sizing: border-box;
	margin: 0;
}

.gui.autoPlace {
	position: fixed;
	top: 0;
	right: 15px;
	z-index: 1001;
}

.gui.autoPlace > .children {
	overflow-y: auto;
	max-height: calc( var(--window-height) - var(--row-height) );
}

.gui.autoPlace > .children::-webkit-scrollbar { 
	width: var(--scrollbar-width);
	background: var(--background-color);
}

.gui.autoPlace > .children::-webkit-scrollbar-corner {
	height: 0;
	display: none;
}

.gui.autoPlace > .children::-webkit-scrollbar-thumb {
	border-radius: var(--scrollbar-width);
	background: var(--widget-color);
}

@media (max-width: 600px) {
	.gui {
		--row-height: 38px;
		--widget-height: 32px;
		--padding: 8px;
		--font-size: 16px;
	}
	.gui.autoPlace {
		right: auto;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.gui.autoPlace > .children { 
		max-height: 200px;
	}
}

/* "widgets" */

.gui input {
	border: 0;
	outline: none;
	font-family: var(--font-family);
	font-size: var(--font-size);
}

.gui select {
	outline: none;
	font-family: var(--font-family);
	font-size: var(--font-size);
}

.gui input[type=text], 
.gui input[type=number] {
	border-radius: var(--widget-border-radius);
	height: var(--widget-height);
	line-height: var(--widget-height);
	background: var(--widget-color);
	padding: var(--widget-padding);
	color: var(--color);
	width: 100%;
}

@media (hover: hover) { 
	.gui input[type=text]:hover,
	.gui input[type=number]:hover {
		background-color: red;
	}
}

.gui input[type=text]:focus,
.gui input[type=number]:focus { 
	background-color: blue;
	color: var(--color);
}

.gui input[type=color] {
	border-radius: var(--widget-border-radius);
	background: var(--widget-color);
	height: var(--widget-height);
	width: 100%;
	padding: 0;
}

.gui input[type=text] {
	color: var(--string-color);
}

.gui input[type=number] {
	color: var(--number-color);
}

.gui input[type=number]::-webkit-inner-spin-button, 
.gui input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* titles and folders */

.gui .title {
	height: var(--row-height);
	padding: 0 var(--padding);
	line-height: var(--row-height);
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.gui.root > .title { 
	background: var(--title-color);
}

.gui .title:before { 
	content: '▾';
	width: 1em;
}

.gui.closed .children {
	display: none;
}

.gui.closed .title:before {
	content: '▸';
}

.gui .children {
	padding: var(--padding) 0;
}

.gui:not(.root) { 
	margin: var(--padding) 0;
}

.gui:not(.root):first-child {
	margin-top: 0;
}

.gui:not(.root) .children { 
	margin-left: var(--padding);
	border-left: 2px solid #444;
}

/* controllers */

.gui .controller {
	padding: 0 var(--padding);
	height: var(--row-height);
	display: flex;
	align-items: center;
}

.gui .controller.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.gui .controller .name {
	width: var(--name-width);
	padding-right: var(--padding);
	flex-shrink: 0;
}

.gui .controller .widget {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

/* number */

.gui .controller.number .slider {
	width: 100%;
	height: var(--widget-height);
	margin-right: calc( var(--padding) - 2px);
	background-color: var(--widget-color);
	border-radius: var(--widget-border-radius);
	overflow: hidden;
}

.gui .controller.number .fill {
	height: 100%;
	background-color: var(--number-color);
}

.gui .controller.number.hasSlider input[type=number] {
	width: 30%;
}

/* big slider experiment */

.gui .controller.number.hasSlider { 
	position: relative;
}

.gui .controller.number.hasSlider .name { 
	position: absolute;
	pointer-events: none;
	width: auto;
	padding-left: var(--padding);
} 
.gui .controller.number.hasSlider input[type=number] {
	width: 18%;
}