.lil-gui .controller.my-cubic-bezier svg {
	width: 100%;
	/* flip coordinates so that up is positive */
	transform: scaleY(-1);
	background-color: var(--widget-color);
	border-radius: var(--widget-border-radius);
}

.lil-gui .controller.my-cubic-bezier svg * { 
	/* let us use a tiny viewbox without huge strokes */
	vector-effect: non-scaling-stroke;
}

.lil-gui .controller.my-cubic-bezier path {
	stroke: var(--number-color);
	stroke-width: 3px;
	fill: none;
}

.lil-gui .controller.my-cubic-bezier line {
	stroke: var(--highlight-color);
	stroke-width: 2px;
}

.lil-gui .controller.my-cubic-bezier circle {
	fill: var(--text-color);
	cursor: pointer;
}